table{
  border:none;
}



body{

  background-color: black;
  text-align:center;
  font-size:20px;
  color:white;
  font-family: 'Courier New', monospace;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
  color:white;
  
}
.container{
  animation-name: FadeIn;
  animation-duration: 3s;
  transition-timing-function: linear;
  margin: 4px 2px;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img_1{
  
  height:30%;
  width:30%;
  transition: transform 1s, opacity 1s;
  opacity: 0.5;
  
}
.img_2{
  
  height:30%;
  width:30%;
  transition: transform 1s, opacity 1s;
  opacity: 0.5;
}
.img_3{
  
  height:20%;
  width:20%;
  transition: transform 1s, opacity 1s;
  opacity: 0.5;
}
.img_4{
  
  height:30%;
  width:30%;
  transition: transform 1s, opacity 1s;
  opacity: 0.5;
}



.img_1:hover{
  height:50%;
  width:50%;
  transform: scale(1.1);
  opacity:1;
}
.img_2:hover{
  height:50%;
  width:50%;
  opacity:1;
  transform: scale(1.1);
}
.img_3:hover{
  height:50%;
  width:50%;
  opacity:1;
  transform: scale(1.1);
}
.img_4:hover{
  height:50%;
  width:50%;
  opacity:1;
  transform: scale(1.1);
}
.button{
  opacity:50%;
  border-radius: 15px;
  background-color: #666666;
  transition: opacity .7s,background-color .7s,border-radius.7s;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover{
  opacity:100%;
  border-radius: 35px;
  transition: opacity .7s,background-color .7s,border-radius .7s;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.contact:hover{
  background-color:#ff5900;
}